.left{
    float:left
}

.right {
    float:right;
}

.container {
    width: 600px;
    margin: auto;
}


/* Conveyor */
.path {
    stroke-dasharray: 20;
}

/* Oven */
.oven {
    padding: 5px;
    border: 2px solid grey;
    margin: auto;
    width: 140px;
    height: 80px;
    margin-right: 100px;
    margin-bottom: 10px;
    border-radius: 25px 25px 0 0;
    border-bottom: 0px;
}

.oven-light {
    font-size: 200%;
    text-align: center;
    margin-left: 10px;
}

.oven-light-off {
    color: grey;
}

.oven-light-on {
    color: orange;
}

/* Switch */
.switch-container {
    margin-top: 20px;
}

.switch-button {
    padding: 10px;
    margin-right: 2px;
}

.switch-button-active{
    background-color: red;
    color: white;
}

/* Motor */

.motor{
    margin-top: 20px;
}

.motor-on {
    animation: motorrotation 4s linear infinite;
}

@keyframes motorrotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* Extruder */
.extruder {
    margin-right: 20px;
}

.stats {
    clear:both;
    text-align: left;
    float: left;
}

.biscuits-container{
    float: right;
}
ul.biscuits-list li{
    float:left;
    list-style: none;
    margin-right: 10px;
}

ul.biscuits-list li:nth-child(5n){
    clear:left;
}