.App {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  width: 600px;
  margin: auto;
}

/* Conveyor */
.path {
  stroke-dasharray: 20;
}

/* Oven */
.oven {
  padding: 5px;
  border: 2px solid grey;
  margin: auto;
  width: 140px;
  height: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  border-radius: 25px 25px 0 0;
  border-bottom: 0px;
}

.oven-light {
  font-size: 200%;
  text-align: center;
  margin-left: 10px;
}

.oven-light-off {
  color: grey;
}

.oven-light-on {
  color: orange;
}

.baked-biscuit {
  position: absolute;
  top: 29px;
  left: 326px;
  animation: bakedbiscuit 2s linear infinite;
}

@keyframes bakedbiscuit {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(170px, 0);
  }
}

/* Switch */
.switch-container {
  margin-top: 30px;
  margin-right: 40px;
}

.switch-button {
  padding: 10px;
  margin-right: 2px;
}

.switch-button-active {
  background-color: red;
  color: white;
}

/* Motor */

.motor-svg {
  width: 80px;
}

.motor {
  margin-left: 40px;
  margin-top: 10px;
}

.motor-on svg {
  animation: motorrotation 2s linear infinite;
}

@keyframes motorrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Extruder */
.extruder {
  margin-right: 25px;
  margin-left: 50px;
}

.extruder-svg,
.stamper-svg {
  width: 50px;
  height: 60px;
  margin-top: 20px;
}
/* Biscuit Animations */
.biscuit-dough {
  position: absolute;
  animation: biscuitdough 2s linear infinite;
}

@keyframes biscuitdough {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 24px);
  }
  100% {
    transform: translate(78px, 24px);
  }
}

.stamper-pusher {
  width: 30px;
  position: relative;
  top: 16px;
  left: -39px;
  z-index: -1;
}

.stamper-pusher-on {
  animation: stamperpusher 2s linear infinite;
}

@keyframes stamperpusher {
  0% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 25px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.raw-biscuit {
  position: absolute;
  top: 29px;
  left: 46px;
  animation: rawbiscuit 2s linear infinite;
}

@keyframes rawbiscuit {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(280px, 0);
  }
}

.animation-paused, .animation-paused svg {
  animation-play-state: paused;
}

/* Biscuit */
.biscuit-container {
  position: absolute;
  float: left;
  clear:both;
  margin-top: 76px;
  margin-left: 61px;
}

/* Other */

.biscuits-container {
  clear: both;
  text-align: left;
  float: left;
}
.biscuits-container h2 {
  margin-left: 40px;
}
ul.biscuits-list li {
  float: left;
  list-style: none;
  margin-right: 10px;
}

ul.biscuits-list li:nth-child(10n + 1) {
  clear: left;
}
